.u-section-1 .u-sheet-1 {min-height: 844px}
.u-section-1 .u-layout-wrap-1 {margin: 40px 0 80px auto}
.u-section-1 .u-layout-cell-1 {min-height: 724px}
.u-section-1 .u-container-layout-1 {padding: 30px 40px 30px 0}
.u-section-1 .u-text-1 {font-size: 5.3125rem; font-weight: 700; font-family: Oswald, sans-serif; text-transform: none; margin: 163px 0 0}
.u-section-1 .u-text-2 {line-height: 1.8; font-size: 1rem; margin: 10px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 724px}
.u-section-1 .u-container-layout-2 {padding: 30px 0 0}
.u-section-1 .u-image-1 {width: 609px; height: 608px; margin: -30px -1px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 717px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 597px}
.u-section-1 .u-text-1 {font-size: 4.25rem}
.u-section-1 .u-layout-cell-2 {min-height: 597px}
.u-section-1 .u-image-1 {width: 501px; height: 500px; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 220px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {width: 384px; height: 383px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 320px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3.75rem} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-image-1 {width: 340px; height: 339px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 325px}
.u-section-2 .u-list-1 {min-height: 300px; grid-template-columns: repeat(4, calc(25% - 8px)); grid-gap: 10px; margin: -45px auto 59px 0}
.u-section-2 .u-list-item-1 {background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-icon-1 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-2 .u-text-1 {text-transform: uppercase; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-2 {font-style: italic; margin: 18px 0 0}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-2 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-2 .u-text-3 {text-transform: uppercase; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-4 {font-style: italic; margin: 18px 0 0}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-icon-3 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-2 .u-text-5 {text-transform: uppercase; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-6 {font-style: italic; margin: 18px 0 0}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-icon-4 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-2 .u-text-7 {text-transform: uppercase; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-8 {font-style: italic; margin: 18px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 273px}
.u-section-2 .u-list-1 {min-height: 247px; height: auto; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-2 .u-list-item-2 {background-size: auto}
.u-section-2 .u-list-item-3 {background-size: auto}
.u-section-2 .u-list-item-4 {background-size: auto} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 575px}
.u-section-2 .u-list-1 {min-height: 560px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-bottom: -147px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 625px}
.u-section-2 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-bottom: -97px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-container-layout-4 {padding-left: 20px; padding-right: 20px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 782px}
.u-section-2 .u-list-1 {grid-template-columns: 100%; margin-bottom: 60px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {font-size: 4.5rem; font-style: normal; margin: 60px auto 0}
.u-section-3 .u-text-2 {letter-spacing: 1px; line-height: 2; font-size: 1.125rem; font-weight: 500; width: 781px; margin: 43px auto 0}
.u-section-3 .u-btn-1 {text-transform: uppercase; letter-spacing: 1px; margin: 30px auto 60px} 

@media (max-width: 991px){ .u-section-3 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {font-size: 3.75rem}
.u-section-3 .u-text-2 {width: 340px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 749px}
.u-section-4 .u-text-1 {font-size: 3.75rem; margin: 59px 400px 0 0}
.u-section-4 .u-text-2 {margin: 20px 400px 0 0}
.u-section-4 .u-layout-wrap-1 {width: 718px; margin: 48px auto 55px}
.u-section-4 .u-layout-cell-1 {min-height: 467px; background-image: none}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-3 {font-weight: 700; text-transform: uppercase; letter-spacing: 2px; margin: 0 auto}
.u-section-4 .u-text-4 {font-size: 3.75rem; font-weight: 700; width: 69px; height: 66px; margin: 8px auto 0}
.u-section-4 .u-text-5 {font-size: 3.75rem; font-weight: 700; margin: -66px auto 0}
.u-section-4 .u-text-6 {text-transform: uppercase; letter-spacing: 1px; width: 168px; font-weight: 400; height: 25px; margin: -4px 61px 0}
.u-section-4 .u-text-7 {text-transform: uppercase; letter-spacing: 1px; font-weight: 400; width: 168px; margin: -25px auto 0}
.u-section-4 .u-line-1 {width: 228px; margin: 21px auto 0 31px}
.u-section-4 .u-text-8 {line-height: 2; letter-spacing: 1px; width: 206px; margin: 19px auto 0}
.u-section-4 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; font-size: 1rem; letter-spacing: 1px; font-weight: 800; margin: 32px auto 0; padding: 12px 42px 13px 41px}
.u-section-4 .u-layout-cell-2 {min-height: 467px; background-image: none}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-9 {font-weight: 700; text-transform: uppercase; letter-spacing: 2px; margin: 0 auto}
.u-section-4 .u-text-10 {font-size: 3.75rem; font-weight: 700; margin: 8px auto 0}
.u-section-4 .u-text-11 {text-transform: uppercase; letter-spacing: 1px; width: 168px; font-weight: 400; margin: -4px auto 0}
.u-section-4 .u-line-2 {width: 228px; margin: 21px auto 0}
.u-section-4 .u-text-12 {line-height: 2; letter-spacing: 1px; width: 206px; margin: 19px auto 0}
.u-section-4 .u-btn-2 {background-image: none; border-style: none; text-transform: uppercase; font-size: 1rem; letter-spacing: 1px; font-weight: 800; margin: 32px auto 0; padding: 12px 42px 13px 41px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 667px}
.u-section-4 .u-text-1 {width: 740px}
.u-section-4 .u-text-2 {width: 740px}
.u-section-4 .u-text-6 {width: 108px; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-7 {width: 108px}
.u-section-4 .u-line-1 {width: 108px; margin-left: 0}
.u-section-4 .u-text-8 {width: 163px}
.u-section-4 .u-text-11 {width: 108px}
.u-section-4 .u-line-2 {width: 108px}
.u-section-4 .u-text-12 {width: 163px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 481px}
.u-section-4 .u-text-1 {width: 720px}
.u-section-4 .u-text-2 {width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 581px}
.u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-text-2 {width: 540px}
.u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {width: 340px; font-size: 2.25rem; margin-right: 200px}
.u-section-4 .u-text-2 {width: 340px; margin-right: 200px}
.u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-text-5 {font-size: 1.5rem} }